body{

background:#202124;

color:white;

font-family:sans-serif;

text-align:center;

}

.card{

background:#333;

padding:20px;

margin:20px;

border-radius:15px;

}

button{

font-size:18px;

padding:12px;

margin:8px;

border:none;

border-radius:10px;

cursor:pointer;

}
