body{

background:#222;

color:white;

font-family:sans-serif;

text-align:center;

margin:0;

}

h1{

background:#333;

padding:15px;

margin:0;

}

#video{

background:black;

height:300px;

display:flex;

align-items:center;

justify-content:center;

margin:20px;

border-radius:10px;

}

button{

font-size:18px;

padding:15px;

margin:10px;

border:none;

border-radius:10px;

}
